- title "Editar #{@schooling.name}"
%h1
  = "Editar #{@schooling.name}"
  
= render 'form'

%p
  = link_to "Visualizar", [:admin, @schooling], :class => "small secondary button"
  = link_to "Ver todos", admin_schoolings_path, :class => "small secondary button"
