- title "Escolaridade - #{@schooling.name}"

%p
  %strong Name:
  = @schooling.name

%p
  = link_to "Editar", edit_admin_schooling_path(@schooling),:class => "small button secondary"
  = link_to("Apagar", [:admin, @schooling], :confirm => 'Are you sure?', :method => :delete,:class => "small button secondary") if User.find(current_user.id).has_role? :admin
  = link_to "Ver todos", admin_schoolings_path,:class => "small button secondary"
