= form_for [:admin, @being] do |f|
  .twelve.columns.alert-box.alert
    = f.error_messages
    = f.hidden_field :user_id, :value => current_user.id
  %h1 Cadastro Básico
  %p
    = f.label :name, "Nome"
    = f.text_field :name    
  %p
    = f.label :date_of_birth, "Data de Nascimento"
    = f.date_select :date_of_birth, :start_year => 1910  
  %p
    = f.label :email, "E-mail"
    = f.text_field :email     
  %p
    = f.label :address, "Endereço"
    = f.text_field :address
  %p
    = f.label :number, "Número"
    = f.text_field :number
  %p
    = f.label :complement, "Complemento"
    = f.text_field :complement
  %p
    = f.label :neighborhood, "Bairro"
    = f.text_field :neighborhood     
  %p
    = f.label :zip_code, "CEP"
    = f.text_field :zip_code
  %p
    = f.label :city_id, "Cidade"
    = f.select :city_id, @cities,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione a Cidade"}
    = link_to "[nova cidade]", new_admin_city_path 
  %p
    = f.label :phone, "Telefone"
    = f.text_field :phone
  %p
    = f.label :cellphone, "Celular"
    = f.text_field :cellphone
 
  
  //%h2 Esta entidade pertence a quais grupos?
  //%p
  //  - Group.all.each do |g|
  //    = check_box_tag 'being[group_ids][]', g.id, @being.group_ids.include?(g.id)
  //    = g.name
  %p
    = f.label :being_type_id, "Tipo de Entidade"
    = f.select :being_type_id, @being_types,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione o Tipo de Entidade"}
    
  %div#ShowSelects
 
  %p
    = f.submit "Salvar", :class => "button"

:javascript
  $(function() { 
    changeSelects("being_being_type_id", "ShowSelects", "#{@being.id}"); 
  }); 
  $('#being_zip_code').setMask('cep'); 
  $('.chosen-select').chosen({no_results_text: "Nenhum resultado para",width: "50%"});
  
-if !@being.id.blank?
  :javascript 
    $(document).ready(function() {
      jQuery.get('/admin/beings/#{@being.being_type_id}/type?cod=#{@being.id}', function(data){ 
        jQuery("#ShowSelects").html(data); 
        jQuery('.chosen-select').chosen({no_results_text: "Nenhum resultado para",width: "50%"});
      }); 
    });
