- title "Editar Entidade"
%h1
  = "Editar #{@being.name}"
%br/

= render 'form'

%p
  = link_to "Visualizar", [:admin, @being], :class => "small secondary button"
  = link_to "Ver Todos", admin_beings_path, :class => "small secondary button"
