- title "Entidades"
%h1 Entidades
%br/

%p= link_to "Cadastrar", new_admin_being_path, :class => "button"

%table.twelve.columns
  %tr
    %th Nome
    %th Tipo
    //%th Cidade
    //%th Partido
    %th Criado por
    %th Ações
  - for being in @beings
    %tr
      %td= being.name
      %td= being.being_type.name
      //%td=#being.city.name
      //%td=#being.party.name
      %td= being.user.name
      %td
        = link_to 'Visualizar', [:admin, being], :class => "small secondary button"
        = link_to 'Editar', edit_admin_being_path(being), :class => "small secondary button"
        = link_to('Apagar', [:admin, being], :confirm => 'Are you sure?', :method => :delete, :class => "small secondary button") if User.find(current_user.id).has_role? :admin

%p= link_to "Cadastrar", new_admin_being_path, :class => "button"
