= form_for [:admin, @being] do |f|     
  -if @type.to_s == "1"    

    #empresa    
      %h2 Dados do Empresa
      %p
        = f.label :company_id, "Nome da Empresa"
        = f.select :company_id, @companies,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione a Empresa"}
        = link_to "[nova empresa]", new_admin_company_path
      %p
        = f.label :emp_cargo, "Cargo"
        = f.text_field :emp_cargo
      %p
        = f.label :grau_relacionamento, "Grau de Relacionamento" 
        -@grau_relacionamento.each do |relacionamento|
          =f.radio_button :grau_relacionamento, relacionamento.id
          =relacionamento.name
        
      %p
        = f.label :emp_potencia_votos, "Potência de Votos"
        = f.text_field :emp_potencia_votos

      %p
        = f.label :emp_tipo_empresa, "Tipo de Empresa"
        = f.select :emp_tipo_empresa, @typeCompanies,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione o tipo de Empresa"}      
        
  -if @type.to_s == "2"  
    #prefeito
      %h2 Dados do Prefeito
      %p
        = f.label :city_work_id, "Cidade"
        = f.select :city_work_id, @cities,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione a Cidade"}  
        = link_to "[nova cidade]", new_admin_city_path
      %p
        = f.label :party_id, "Partido"
        = f.select :party_id, @parties,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione o Partido"}  

      %p
        = f.label :pre_numero_votos, "Números de Votos"
        = f.text_field :pre_numero_votos

      %p
        = f.label :grau_relacionamento, "Grau de Relacionamento" 
        -@grau_relacionamento.each do |relacionamento|
          =f.radio_button :grau_relacionamento, relacionamento.id
          =relacionamento.name      

  -if @type.to_s == "3"  
    #vice_prefeito
      %h2 Dados do Vice Prefeito
      %p
        = f.label :city_work_id, "Cidade"
        = f.select :city_work_id, @cities,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione a Cidade"}  
        = link_to "[nova cidade]", new_admin_city_path
      %p
        = f.label :party_id, "Partido"
        = f.select :party_id, @parties,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione o Partido"} 

      %p
        = f.label :pre_numero_votos, "Números de Votos"
        = f.text_field :pre_numero_votos

      %p
        = f.label :grau_relacionamento, "Grau de Relacionamento" 
        -@grau_relacionamento.each do |relacionamento|
          =f.radio_button :grau_relacionamento, relacionamento.id
          =relacionamento.name      
      
  -if @type.to_s == "4"
    #vereador  
      %h2 Dados do Vereador
      %p
        = f.label :city_work_id, "Cidade"
        = f.select :city_work_id, @cities,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione a Cidade"} 
        = link_to "[nova cidade]", new_admin_city_path      
      %p
        = f.label :party_id, "Partido"
        = f.select :party_id, @parties,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione o Partido"}

      %p
        = f.label :ver_numero_votos, "Números de Votos"
        = f.text_field :ver_numero_votos

      %p
        = f.label :grau_relacionamento, "Grau de Relacionamento" 
        -@grau_relacionamento.each do |relacionamento|
          =f.radio_button :grau_relacionamento, relacionamento.id
          =relacionamento.name 
        
  - if @type.to_s == "5"
    #secretario
      %h2 Dados do(a) Secretário(a)
      %p
        = f.label :grau_relacionamento, "Grau de Relacionamento" 
        -@grau_relacionamento.each do |relacionamento|
          =f.radio_button :grau_relacionamento, relacionamento.id
          =relacionamento.name
      %p
        = f.label :sec_potencia_votos, "Números de Votos"
        = f.text_field :sec_potencia_votos
      %p
        = f.label :sec_primeira_divisao, "Tipo"
        = f.select :sec_primeira_divisao, @sec_positions,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione o Tipo"}
      %p
        = f.label :sec_segunda_divisao, "Local" 
        = f.select :secretary_secretary_ids, @sec_secretary, {:include_blank=>true}, {:multiple => true,:class => "chosen-select", :"data-placeholder"=>"Selecione "}       

             

  - if @type.to_s == "6"   
    #dirigente  
      %h2 Dados do Dirigente
      %p
        = f.label :grau_relacionamento, "Grau de Relacionamento" 
        -@grau_relacionamento.each do |relacionamento|
          =f.radio_button :grau_relacionamento, relacionamento.id
          =relacionamento.name
      %p
        = f.label :dir_potencia_votos, "Números de Votos"
        = f.text_field :dir_potencia_votos
      
      %p
        = f.label :dir_primeira_divisao, "Tipo"
        = f.select :dir_primeira_divisao, @ruling_positions,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione o Tipo"}   
      
      %p
        = f.label :dir_segunda_divisao, "Qual?"
        = f.text_field :dir_segunda_divisao      

  - if @type.to_s == "7"   
    #individual  
      %h2 Dados
      %p
        = f.label :grau_relacionamento, "Grau de Relacionamento" 
        -@grau_relacionamento.each do |relacionamento|
          =f.radio_button :grau_relacionamento, relacionamento.id
          =relacionamento.name
          
  - if @type.to_s == "8"   
    #militante  
      %h2 Dados do Militante
      %p
        = f.label :grau_relacionamento, "Grau de Relacionamento" 
        -@grau_relacionamento.each do |relacionamento|
          =f.radio_button :grau_relacionamento, relacionamento.id
          =relacionamento.name     
          
  - if @type.to_s == "9"   
    #lideranca  
      %h2 Dados da Liderança
      %p
        = f.label :grau_relacionamento, "Grau de Relacionamento" 
        -@grau_relacionamento.each do |relacionamento|
          =f.radio_button :grau_relacionamento, relacionamento.id
          =relacionamento.name   


  - if @type.to_s == "10"   
    #candidato                                               
      %h2 Dados do Candidato
      %p
        = f.label :grau_relacionamento, "Grau de Relacionamento" 
        -@grau_relacionamento.each do |relacionamento|
          =f.radio_button :grau_relacionamento, relacionamento.id
          =relacionamento.name
      %p
        = f.label :party_id, "Partido"
        = f.select :party_id, @parties,{:include_blank=>true}, {:class => "chosen-select", :"data-placeholder"=>"Selecione o Partido"}    
                
      %p
        = f.label :cand_numero_votos, "Números de Votos"
        = f.text_field :cand_numero_votos
                
                
                
                
                