- title "Editar #{@company.name}"
%h1
  = "Editar #{@company.name}"
%br/   

= render 'form'

%p
  = link_to "Visualizar", [:admin, @company], :class => "small secondary button"
  = link_to "Ver Todas", admin_companies_path, :class => "small secondary button"
