- title "Empresas"
%h1 Entidades
%br/

%p= link_to "+ Empresa", new_admin_company_path, :class => "button"

%table.twelve.columns 
  %tr
    %th Nome
  - for company in @companies
    %tr
      %td= company.name
      %td= link_to 'Show', [:admin, company], :class => "small secondary button" 
      %td= link_to 'Edit', edit_admin_company_path(company), :class => "small secondary button" 
      %td= link_to 'Destroy', [:admin, company], :confirm => 'Are you sure?', :method => :delete, :class => "small secondary button" 

%p= link_to "+ Empresa", new_admin_company_path, :class => "button"    
