- title "Empresas"
%h1 Entidades
%br/

%p= link_to "+ Empresa", new_admin_company_path, :class => "button"

%table.twelve.columns 
  %tr
    %th Nome
    %th
  - for company in @companies
    %tr
      %td= company.name
      %td
        = link_to 'Visualizar', [:admin, company], :class => "small secondary button" 
        = link_to 'Editar', edit_admin_company_path(company), :class => "small secondary button" 
        = link_to('Apagar', [:admin, company], :confirm => 'Are you sure?', :method => :delete, :class => "small secondary button") if User.find(current_user.id).has_role? :admin  

%p= link_to "+ Empresa", new_admin_company_path, :class => "button"    
