- title "Empresa - #{@company.name}"
%h1
  = "Empresa - #{@company.name}"
%p
  %strong Name:
  = @company.name

%p
  = link_to "Editar", edit_admin_company_path(@company), :class => "small secondary button" 
  = link_to("Apagar", [:admin, @company], :confirm => 'Are you sure?', :method => :delete, :class => "small secondary button") if User.find(current_user.id).has_role? :admin
  = link_to "Ver Todas", admin_companies_path, :class => "small secondary button" 
