<% 
        content_for :title do "Editar Município" end
%>

<%content_for :head do%>
        <%=stylesheet_link_tag "cadastro"%>
        <%= stylesheet_link_tag "admin_user"%>
<%end%>

<%= render 'form' %>

<p>
  <%= link_to "Show", [:admin, @city] %> |
  <%= link_to "View All", admin_cities_path %>
</p>
