<% content_for :title do "Municípios" end %>
<h1>Municípios</h1>
<br />

<div id="name" class="twelve columns">
  <p><%= link_to "Novo Município", new_admin_city_path, :class => "button", :style => "float:right;" %></p>
</div>

<div id="search" class="twelve columns">
  <p>Informe o nome, sobrenome ou e-mail do usuário.</p>
  <%=form_tag '/admin/users/search', :method => :get, :name=>"formkeyword"%>
    <%=text_field_tag :keyword, nil %>
    <%=submit_tag "Buscar", :class => "button secondary"%>
  </form>
</div>

<table class="twelve columns">
  <tr>
    <th>Nome</th>
    <th>População</th>
  </tr>
  <% for city in @cities %>
    <tr>
      <td><%= city.name %></td>
      <td><%= city.population %></td>
      <td><%= link_to "Show", [:admin, city] %></td>
      <td><%= link_to "Edit", edit_admin_city_path(city) %></td>
      <td><%= link_to "Destroy", [:admin, city], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @cities %>

<script>
document.getElementById('keyword').focus();
</script>