<% 
        content_for :title do "Exibindo Município " + @city.name end
%>
<h1>Visualizando Município de <%= @city.name%></h1>
<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>
<p>
  <strong>Population:</strong>
  <%= @city.population %>
</p>

<p>
  <%= link_to "Editar", edit_admin_city_path(@city), :class => "small button secondary" %> 
  <%= link_to("Apagar", [:admin, @city], :class => "small button secondary", :confirm => 'Tem certeza?', :method => :delete ) if User.find(current_user.id).has_role? :admin %>
  <%= link_to "Ver Todas", admin_cities_path, :class => "small button secondary" %>
</p>
