<%= form_for [:admin,@city, @entity] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nome, "Nome da entidade" %><br />
    <%= f.text_field :nome, :placeholder => "Nome da entidade" %>
  </p>
  <p>
    <%= f.label :fundacao, "Data de Fundação" %><br />
    <%= f.datetime_select :fundacao %>
  </p>
  <p>
    <%= f.label :interligada, "Interligada a algum segmento/entidade" %><br />
    <%= f.text_field :interligada, :placeholder => "Interligada a algum segmento/entidade" %>
  </p>
  <p>
    <%= f.label :endereco, "Endereço" %><br />
    <%= f.text_field :endereco, :placeholder => "Endereço" %>
  </p>
  <p>
    <%= f.label :telefone, "Telefones" %><br />
    <%= f.text_field :telefone, :placeholder => "Telefones" %>
  </p>
  <p>
    <%= f.label :email, "E-mail" %><br />
    <%= f.text_field :email, :placeholder => "E-mail" %>
  </p>
  <p>
    <%= f.label :site, "Site" %><br />
    <%= f.text_field :site, :placeholder => "Site" %>
  </p>
  <p>
    <%= f.label :cnpj, "CNPJ" %><br />
    <%= f.text_field :cnpj, :placeholder => "CNPJ" %>
  </p>
  <p>
    <%= f.label :segmento, "Segmento" %><br />
    <%= f.text_field :segmento, :placeholder => "Segmento" %>
  </p>
  <p>
    <%= f.label :presidente, "Presidente/ Mantenedor" %><br />
    <%= f.text_field :presidente, :placeholder => "Presidente/ Mantenedor" %>
  </p>
  <p>
    <%= f.label :contato, "Contato" %><br />
    <%= f.text_field :contato, :placeholder => "Contato" %>
  </p>
  <p>
    <%= f.label :utilpublica, "Titularidade de Utilidade Pública Estadual?" %>
    <%= f.check_box :utilpublica %>
  </p>
  <p>
    <%= f.label :histrelacionamento, "Histórico de Relacionamento"%><br />
    <%= f.text_area :histrelacionamento, :placeholder => "Histórico de Relacionamento" %>
  </p>
  <p>
    <%= f.label :sedepropria, "a) Sede própria" %><br />
    <%= f.check_box :sedepropria %>
  </p>
  <p>
    <%= f.label :estrutura, "a.1) Qual a estrutura?" %><br />
    <%= f.text_area :estrutura, :placeholder => "a.1) Qual a estrutura?" %>
  </p>
  <p>
    <%= f.label :condicloes, "a.2) Condições" %><br />
    <%= f.text_area :condicloes, :placeholder => "a.2) Condições" %>
  </p>
  <p>
    <%= f.label :temveiculos, "b) Tem veículos" %><br />
    <%= f.check_box :temveiculos %>
  </p>
  <p>
    <%= f.label :quantveiculos, "b.1) quantos?" %><br />
    <%= f.text_field :quantveiculos, :placeholder => "b.1) quantos?" %>
  </p>
  <p>
    <%= f.label :condveiculos, "b.2) condições?" %><br />
    <%= f.text_area :condveiculos, :placeholder => "b.2) condições?" %>
  </p>
  <p>
    <%= f.label :verbaestadual, "Recebe verbal estadual" %><br />
    <%= f.check_box :verbaestadual %>
  </p>
  <p>
    <%= f.label :verbaorgao, "De qual órgão" %><br />
    <%= f.text_area :verbaorgao, :placeholder => "De qual órgão" %>
  </p>
  <p>
    <%= f.label :cadastentestaduais, "Tem cadastro de entidades estaduais" %><br />
    <%= f.text_area :cadastentestaduais, :placeholder => "Tem cadastro de entidades estaduais" %>
  </p>
  <p>
    <%= f.label :pencadin, "Pendência no CADIN?" %><br />
    <%= f.check_box :pencadin %>
  </p>
  <p>
    <%= f.label :prosocial, "Tem pró-social?" %><br />
    <%= f.check_box :prosocial %>
  </p>
  <p>
    <%= f.label :proativoinativo, "(Ativo/Inativo)" %><br />
    <%= f.check_box :proativoinativo %>
  </p>
  <p><%= f.submit %></p>
<% end %>
