<% content_for :title do "Entidades" end %>
<h1>Entidades</h1>
<div id="name" class="twelve columns">
  <p><%= link_to "Nova Entidade", new_admin_city_entity_path(@city), :class => "button", :style => "float:right;"  %></p>
</div>
<table class="twelve columns">
  <tr>
    <th>Nome</th>
    <th>Telefones</th>
    <th>E-mail</th>
    <th>CNPJ</th>
    <th>Segmento</th>
    <th>Presidente/ Mantenedor</th>
    
  </tr>
  <% for entity in @entities %>
    <tr>
      <td><%= entity.nome %></td>
      <td><%= entity.telefone %></td>
      <td><%= entity.email %></td>
      <td><%= entity.cnpj %></td>
      <td><%= entity.segmento %></td>
      <td><%= entity.presidente %></td>
      <td><%= link_to "Visualizar", admin_city_entity_path(@city,entity), :class => "small button secondary" %></td>
      <td><%= link_to "Editar", edit_admin_city_entity_path(@city,entity), :class => "small button secondary" %></td>
      <td><%= link_to "Deletar", admin_city_entity_path(@city,entity), :class => "small button secondary", :confirm => 'Tem certeza?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<div>
  <%= link_to "Voltar", admin_cities_path, :class => "small button secondary"%></td>
</div><br/>
<%= will_paginate @entities %>
