- title "Editar #{@group.name}"
%h1
  = "Editar #{@group.name}"
%br/

= render 'form'

%p
  = link_to "Visualizar", [:admin, @group], :class => "small secondary button"
  = link_to "Ver Todos", admin_groups_path, :class => "small secondary button"
