- title "Editar #{@being_type.name}"
%h1
  = "Editar #{@being_type.name}"
%br/

= render 'form'
%p
  = link_to "Visualizar", [:admin, @being_type], :class => "small secondary button"
  =link_to "Ver todos", admin_being_types_path, :class => "small secondary button"