- title "Tipos de Entidade"
%h1 Tipos de Entidade
%br/

%table.twelve.columns
  %tr
    %th Nome
  - for being_type in @being_types
    %tr
      %td= being_type.name
      %td
        = link_to "Visualizar", [:admin, being_type], :class => "small secondary button"
        = link_to "Editar", edit_admin_being_type_path(being_type), :class => "small secondary button"
        = link_to("Apagar", [:admin, being_type], :confirm => 'Are you sure?', :method => :delete, :class => "small secondary button") if User.find(current_user.id).has_role? :admin

%p= link_to "+ Tipo de Entidade", new_admin_being_type_path, :class => "button"